extends layout

block appMainContent
    img(src=profile.avatar)
    hr
    p <b>Nome:</b> #{profile.name}
    p <b>Age:</b> #{profile.age} anos
    hr
    p <b>Bio:</b> #{profile.bio}
    hr
    !{profile.body}
